@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body {
    max-width: 767px;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

.topo {
    background-color: #CF2B2B;
    color: #FFFFFF;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topo > h2 {
    font-family: Righteous;
    font-size: 44px;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 3px;

}

.topo > h3 {
    font-size: 18px;
    margin-left: 20px;
}


